.slider {
    margin-top: 20px;
    height: 600px;
}

.carousel-item img {
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {

    padding: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 10px;
}

a:hover {
    color: red;
    border-color: red;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.carousel-label {
    font-size: 64px;
    font-weight: bold;
}

.carousel-desc {
    font-size: 32px;
}