
<div class="slider ">
  <div id="carouselExampleCaptions" class="carousel slide" p-0>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner image-container">
      <div class="carousel-item image-container active">
        <img class="img" src="assets/porsche-panameral.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-start">
          <a href="/">
            <p class="carousel-label">Be brave.</p>
            <p class="carousel-desc">New Panamera.</p>
          </a>
        </div>
      </div>
      <div class="carousel-item image-container ">
        <img class="img" src="assets/porsche-cayman.jpeg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-start">
          <a href="/">
            <p class="carousel-label">Take a risk.</p>
            <p class="carousel-desc">New 911.</p>
          </a>
        </div>
      </div>
      <div class="carousel-item image-container">
        <img class="img" src="assets/porsche-cayenne.jpg.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-left text-start">
          <a href="/">
            <p class="carousel-label">Be true to yourself</p>
            <p class="carousel-desc">New Cayenne.</p>
          </a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next control-btn" type="button" data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
