<div class="container">
    <div class="container-md">
        <div class="header">
            <span>Create Car</span>
        </div>
        <form>
            <div class="mb-3">
                <label for="Name" class="form-label">Model</label>
                <input type="text" name="path" class="form-control area" [(ngModel)]="updateCarModel.model" id="path">
            </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Year Of Edition:</label>
                <select class="form-select" name="name" [(ngModel)]="updateCarModel.yearOfEdition">
                    <option *ngFor="let year of years" name="minYearOfRelease" [value]="year">{{ year }}
                    </option>
                </select>
            </div>
            <select class="form-select form-select-lg mb-3" aria-label="Body type" [(ngModel)]="updateCarModel.bodyType" name="body-type">
                <option *ngFor="let bodyType of bodyTypesValues" [value]="bodyType">{{ getBodyType(bodyType) }}</option>
            </select>
            
            <div class="mb-3">
                <select class="form-select form-select-lg mb-3" aria-label="Color" [(ngModel)]="updateCarModel.color" name="color">
                    <option *ngFor="let color of colorsValues" [value]="color">{{ getColor(color) }}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Engine:</label>
                <input type="text" name="engine" class="form-control area" [(ngModel)]="updateCarModel.engine"
                    id="engine">
            </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Fuel Consumption:</label>
                <input type="text" name="fuelConsumption" class="form-control area"
                    [(ngModel)]="updateCarModel.fuelConsumption" id="fuelConsumption">
            </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Price:</label>
                <input type="text" name="price" class="form-control area" [(ngModel)]="updateCarModel.price" id="price">
            </div>

            <div class="mb-3">
                <label for="Name" class="form-label">Image:</label>
                <input type="file" multiple name="image" class="form-control area" (change)="onFileChange($event)"
                    id="image">
            </div>

            <div class="mb-3">
                <select class="form-select form-select-lg mb-3" aria-label="Porsche Center"
                    [(ngModel)]="updateCarModel.porscheCenterId" name="porscheCenter">
                    <option *ngFor="let center of porscheCenterModels" [value]="center.id">{{ center.name }}</option>
                </select>
            </div>
            <div class="message">{{ message }}</div>
            <div class="btns">
                <button type="button" name="stage7" class="btn btn-dark" (click)="onCreate()">Submit</button>
                <button class="btn btn-dark" [routerLink]="['/admin-cars']">Back</button>
            </div>
        </form>
    </div>
</div>