<div *ngIf="isAdmin" class="main-area">
    <div class="container-xxl d-flex">
        <div class="users">
            <div class="statistics">
                some info
            </div>
            <button [routerLink]="['/admin-users']" class="btn btn-dark">Users page</button>
        </div>
        <div class="cars">
            <div class="statistics">
                some info
            </div>
            <button [routerLink]="['/admin-cars']" class="btn btn-dark">Cars page</button>
        </div>
        <div class="porsche-centers">
            <div class="statistics">
                some info
            </div>
            <button [routerLink]="['/admin-centers']" class="btn btn-dark">Porsche centers page</button>
        </div>
    </div>
</div>

<div *ngIf="!isAdmin">
    <span class="no-admin-text">You are not allowed to view this page</span>
</div>