<div class="offcanvas offcanvas-start d-flex" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="d-flex">
        <div class="offcanvas-body">
            <div class="category-container">
                <div class="category-title">
                    <button class="btn"><span>Models</span> <span>></span></button>
                </div>
                <div class="category-title">
                    <button class="btn">Models<span></span> <span>></span></button>
                </div>
                <div class="category-title">
                    <button class="btn">Models<span></span> <span>></span></button>
                </div>
                <div class="category-title">
                    <button class="btn">Models<span></span> <span>></span></button>
                </div>
            </div>
        </div>
        <div class="offcanvas-body">
            <p>asdasdasdasd</p>
        </div>
    </div>
</div>