<section class="models px-0">
    <h2 class="section-title m-5 "><span class="section-title">Model range</span></h2>
    <div class="models-wrapper row mx-0">

        <div class="model col-xs-6 col-md-4 px-0">
            <div class="model-image">
                <img class="img" src="assets/porsche-panameral.jpg " alt="">

                <div class="image-content">
                    <p class="model-title">Panamera</p>
                    <div class="model-links d-flex align-items-start">
                        <button class="btn white-btn m-1">Configuration</button>
                        <button class="btn transparent-btn m-1">Review</button>
                        <button class="btn transparent-btn m-1">Test-drive</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="model col-xs-6 col-md-4 px-0">
            <div class="model-image">
              <img class="img" src="assets/911.jpg" alt="">
              <div class="image-content">
                <p class="model-title">911</p>
                <div class="model-links d-flex align-items-start">
                  <button class="btn white-btn m-1">Configuration</button>
                  <button class="btn transparent-btn m-1">Review</button>
                  <button class="btn transparent-btn m-1">Test-drive</button>
                </div>
              </div>
            </div>
          </div>
        <div class="model col-xs-6 col-md-4 px-0">
            <div class="model-image">
                <img class="img" src="assets/cayenne.jpeg " alt="">

                <div class="image-content">
                    <p class="model-title">Cayenne</p>
                    <div class="model-links d-flex  align-items-start">
                        <button class="btn white-btn m-1">Configuration</button>
                        <button class="btn transparent-btn m-1">Review</button>
                        <button class="btn transparent-btn m-1">Test-drive</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="model col-xs-6 col-md-4 px-0">
            <div class="model-image">
                <img class="img" src="assets/cayman.jpg " alt="">

                <div class="image-content">
                    <p class="model-title">Cayman</p>
                    <div class="model-links d-flex  align-items-start">
                        <button class="btn white-btn m-1">Configuration</button>
                        <button class="btn transparent-btn m-1">Review</button>
                        <button class="btn transparent-btn m-1">Test-drive</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="model col-xs-6 col-md-4 px-0">
            <div class="model-image">
                <img class="img" src="assets/taycan.jpg " alt="">

                <div class="image-content">
                    <p class="model-title">Taycan</p>
                    <div class="model-links d-flex align-items-start">
                        <button class="btn white-btn m-1">Configuration</button>
                        <button class="btn transparent-btn m-1">Review</button>
                        <button class="btn transparent-btn m-1">Test-drive</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="model col-xs-6 col-md-4 px-0">
            <div class="model-image">
                <img class="img" src="assets/cars.avif " alt="">

                <div class="image-content">
                    <p class="model-title">All cars</p>
                    <div class="model-links d-flex align-items-start">
                        <button class="btn white-btn m-1">Configuration</button>
                        <button class="btn transparent-btn m-1">Review</button>
                        <button class="btn transparent-btn m-1">Test-drive</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

