<div class="content">
    <div class="images">
        <app-car-images [car]="car"></app-car-images>
    </div>
    <div class="info">
        <div class="row m-0">
            <div class="col-md-8">
                <div class="car-info">
                    <app-car-info [car]="car" [porscheCenter]="porscheCenter"></app-car-info>
                </div>
            </div>
            <div class="col-md-4">
                <div class="car-order">
                    <app-order [car] = "car" [porscheCenter] = "porscheCenter"></app-order>
                </div>
            </div>
        </div>
    </div>
    
</div>