<div class="cars">
    <span>Cars:</span>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Idenitity</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year Of Edition</th>
                    <th scope="col">Body Type</th>
                    <th scope="col">Color</th>
                    <th scope="col">Engine</th>
                    <th scope="col">Fuel Consumption</th>
                    <th scope="col">Price</th>
                    <th scope="col">Porsche Center</th>
                    <th scope="col"><button class="btn btn-dark" [routerLink]="'create-car/'">Add</button></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let car of cars">
                    <td>{{car.identityCode}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.yearOfEdition}}</td>
                    <td>{{getBodyType(car.bodyType)}}</td>
                    <td>{{getColor(car.color)}}</td>
                    <td>{{car.engine}}</td>
                    <td>{{car.fuelConsumption}}</td>
                    <td>{{car.price}}</td>
                    <td>{{getPorscheCenter(car.porscheCenterId)}}</td>
                    <td><button class="btn btn-warning" [routerLink]="'update-car/' + car.id">Edit</button></td>
                    <td><button class="btn btn-danger" (click)="delete(car.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-dark" [routerLink]="'/admin'">Back</button>

    </div>
</div>

