<div class="container">
    <div class="menu" #parentMenuItem>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle categories" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item category" name="911" value="911" (click)="selectModel('911')">911</a></li>
                <li><a class="dropdown-item category" name="Panamera" value="Panamera"
                        (click)="selectModel('Panamera')">Panamera</a></li>
                <li><a class="dropdown-item category" value="Cayenne" (click)="selectModel('Cayenne')">Cayenne</a></li>
                <li><a class="dropdown-item category" value="Macan" (click)="selectModel('Macan')">Macan</a></li>
                <li><a class="dropdown-item category" value="Taycan" (click)="selectModel('Taycan')">Taycan</a></li>
            </ul>
        </div>


        <ul>
            <li class="menu-item">
                <a>
                    <span class="text" (click)="toggleSubMenu('year')">Year</span>
                </a>
                <ul class="sub-menu" id="year" #subMenu>
                    <li class="sub-menu-item">
                        <span>Input min year of release</span>
                        <select class="form-select" [(ngModel)]="searchByConditionalsModel.minYearOfRelease">
                            <option *ngFor="let year of years" name="minYearOfRelease" [value]="year">{{ year }}
                            </option>
                        </select>
                    </li>
                    <li class="sub-menu-item">
                        <span>Input max year of release</span>
                        <select class="form-select" name="maxYearOfRelease" [(ngModel)]="searchByConditionalsModel.maxYearOfRelease">
                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                        </select>
                    </li>
                </ul>
            </li>
        </ul>

        <ul>
            <li class="menu-item">
                <a>
                    <span class="text" (click)="toggleSubMenu('body-type')">Body type</span>
                </a>
                <ul class="sub-menu" id="body-type" #subMenu>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" name="Coupe" type="checkbox" value=1 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Coupe
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Sedan" value=2 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Sedan
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Suv" value=3 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Suv
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Cabriolet" value=4
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Cabriolet
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <ul>
            <li class="menu-item">
                <a>
                    <span class="text" (click)="toggleSubMenu('color')">Color</span>
                </a>
                <ul class="sub-menu" id="color" #subMenu>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" name="Red" type="checkbox" value=1 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Red
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Green" value=2 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Green
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="White" value=3 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                White
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Black" value=4 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Black
                            </label>
                        </div>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Yellow" value=5 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Yellow
                            </label>
                        </div>
                    </li>

                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Gray" value=6 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Gray
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="Blue" value=7 id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Blue
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>

        <ul>
            <li class="menu-item">
                <a>
                    <span class="text" (click)="toggleSubMenu('engine')">Engine</span>
                </a>
                <ul class="sub-menu" id="engine" #subMenu>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                [(ngModel)]="searchByConditionalsModel.engine">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                [(ngModel)]="searchByConditionalsModel.engine">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                [(ngModel)]="searchByConditionalsModel.engine">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                [(ngModel)]="searchByConditionalsModel.engine">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>
                </ul>

            </li>
        </ul>

        <ul>
            <li class="menu-item">
                <a>
                    <span class="text" (click)="toggleSubMenu('price')">Price</span>
                </a>
                <ul class="sub-menu" id="price" #subMenu>
                    <li class="sub-menu-item">
                      <span>Input min price</span> <br>
                      <input type="text" [(ngModel)]="searchByConditionalsModel.minPrice" (input)="onMinPriceChange()" pattern="[0-9]*">
                    </li>
                    <li class="sub-menu-item">
                      <span>Input max price</span> <br>
                      <input type="text" [(ngModel)]="searchByConditionalsModel.maxPrice" (input)="onMaxPriceChange()" pattern="[0-9]*">
                    </li>
                  </ul>
                  
            </li>
        </ul>

        <ul>
            <li class="menu-item" (click)="toggleSubMenu('porsche-center')">
                <a>
                    <span class="text">Porche center</span>
                </a>
                <ul class="sub-menu" id="porsche-center" #subMenu>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                [(ngModel)]="searchByConditionalsModel.porscheCenter">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [(ngModel)]="searchByConditionalsModel.porscheCenter">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [(ngModel)]="searchByConditionalsModel.porscheCenter">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>
                    <li class="sub-menu-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            [(ngModel)]="searchByConditionalsModel.porscheCenter">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </li>

                </ul>
            </li>
        </ul>
        <div class="button">

            <div class="button d-flex justify-content-end"> <button (click)="onSearch()" class="btn btn-dark btn-show">
                    <span>Show</span>
                </button>
            </div>
        </div>
    </div>|