.multi-slider {
    box-sizing: border-box;
    margin-bottom: 64px;
}

.section-title {
    font-size: 44px;
    font-weight: 600;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    margin: 0 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img-holder {
    height: 200px;
    overflow: hidden;
}

.img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 10px;
    text-align: center;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.model-button .btn {
    padding: 8px 16px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}