<div class="multi-slider px-0">
    <h2 class="section-title m-5 "><span class="section-title">Available cars</span></h2>
    <div id="carouselExample" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cards-wrapper d-flex justify-content-around align-items-center">
                    <div class="card">
                        <div class="img-holder">
                            <img src="assets/911-multi.jpg" alt="Taycan">
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <h5 class="card-title">911</h5>
                            </div>
                            <div class="model-button">
                                <a href="#" class="btn btn-dark">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="cards-wrapper d-flex justify-content-around align-items-center">
                        <div class="card">
                            <div class="img-holder">
                                <img src="assets/taycan-multi.jpg" alt="Taycan">
                            </div>
                            <div class="card-body">
                                <div class="title">
                                    <h5 class="card-title">Taycan</h5>
                                </div>
                                <div class="model-button">
                                    <a href="#" class="btn btn-dark">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-wrapper d-flex justify-content-around align-items-center">
                        <div class="card">
                            <div class="img-holder">
                                <img src="assets/panamera-multi.jpg" alt="Taycan">
                            </div>
                            <div class="card-body">
                                <div class="title">
                                    <h5 class="card-title">Panamera</h5>
                                </div>
                                <div class="model-button">
                                    <a href="#" class="btn btn-dark">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="carousel-item">
                <div class="cards-wrapper d-flex justify-content-around align-items-center">
                    <div class="card">
                        <div class="img-holder">
                            <img src="assets/cayenne-multi.jpg" alt="Taycan">
                        </div>
                        <div class="card-body">
                            <div class="title">
                                <h5 class="card-title">Cayenne</h5>
                            </div>
                            <div class="model-button">
                                <a href="#" class="btn btn-dark">View</a>
                            </div>
                        </div>
                    </div>
                    <div class="cards-wrapper d-flex justify-content-around align-items-center">
                        <div class="card">
                            <div class="img-holder">
                                <img src="assets/macan-multi.jpg" alt="Taycan">
                            </div>
                            <div class="card-body">
                                <div class="title">
                                    <h5 class="card-title">Macan</h5>
                                </div>
                                <div class="model-button">
                                    <a href="#" class="btn btn-dark">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards-wrapper d-flex justify-content-around align-items-center">
                        <div class="card">
                            <div class="img-holder">
                                <img src="assets/boxter.jpeg" alt="Taycan">
                            </div>
                            <div class="card-body">
                                <div class="title">
                                    <h5 class="card-title">Boxster</h5>
                                </div>
                                <div class="model-button">
                                    <a href="#" class="btn btn-dark">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>